<h1>新規友達作成</h1>
  
<%=form_with model: @user, url: friends_path, local: true do |f|%>
  <div>
    <select name="friend[user_ids][]">
      <option value="">チャットするユーザーを選択してください</option>
      <% User.where.not(id: current_user.id).each do |user| %>
        <option value=<%= user.id %>><%= user.name %></option>
      <% end %>
    </select>
    <input name="friend[user_ids][]" type="hidden" value=<%= current_user.id %>>
  </div>
  <div >
    <%= f.submit class: 'btn'%>
  </div>
<% end %>
