<h2>Edit Account</h2>
<h5>アカウントの編集</h5>

<div>
  <%= form_with model: current_user, local: true do |f|%>
    <%= f.label :name %>
    <%= f.text_area :name, autofocus: true %>
    <%= f.submit "Update" %>
  <% end %>
</div>

<%= render 'users/destroy' %>
<%= link_to "マイページに戻る", :back %>