<h2>Edit Account</h2>
<h5>アカウントの編集</h5>

<div>
  <%= form_with model: current_user, local: true do |f|%>
    <%= f.label :name %>
    <%= f.text_area :name, autofocus: true %>
    <%= f.submit "Update", class: 'btn'%>
  <% end %>
</div>

<%= link_to "アカウントを削除する", user_path(current_user.id), method: :delete %>
<%= link_to "マイページに戻る", :back %>