<h3><%= @user.name %></h3>

<%= form_with model: @user, local: true do |f|%>
  <section>
    <%= render 'shared/stats' %>
  </section>
  <% if signed_in? current_user == @user %>
  <% else %>
    <%= link_to "アカウント情報編集", edit_user_path(:user_id) %>
  <% end %>

  <% if signed_in? current_user == @user %>
    <% if current_user.following?(@user) %>
      <%= render 'unfollow' %>
    <% else %>
      <%= render 'follow' %>
    <% end %>
  <% end %>
<% end %>