<h1>index</h1>

<%= form_with model: current_user, local: true do |f|%>
  <% if user_signed_in? %>
    <ul>
      <%= link_to "#{current_user.name}さん", user_path(current_user.id) %>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
    </ul>
  <% else %>
    <ul>
      <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
    </ul>
  <% end %>
<% end %>